<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Giacomo Stringa - Homepage</title>
	
<!--CSS FILES_________________________________________________-->

<!--Google gallery CSS-->
<link href="mad-genius-mg-space-304cd9c/src/mg-space.css" rel="stylesheet" type="text/css">
<link href="mad-genius-mg-space-304cd9c/demo/css/style.css" rel="stylesheet" type="text/css">
	
	
<!--Cookiebar CSS
<link href="jquery.cookiebar/jquery.cookiebar.css" rel="stylesheet" media="all">
-->

<!--MASTER CSS-->
<link href="reset.css" rel="stylesheet" type="text/css">
<link href="master.css" rel="stylesheet" type="text/css">
<link href="Type.css" rel="stylesheet" type="text/css">

	
<!--Responsive CSS-->
<link href="desktop.css" rel="stylesheet" type="text/css">
<link href="tablet-landscape.css" rel="stylesheet" type="text/css">
<link href="tablet-portrait.css" rel="stylesheet" type="text/css">
<link href="smartphone-portrait.css" rel="stylesheet" type="text/css">



	
<!--JS FILES_________________________________________________-->

<!--Jquery JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	
<!--Google gallery JS-->
<script src="mad-genius-mg-space-304cd9c/src/jquery.mg-space.js"></script>
<script src="mad-genius-mg-space-304cd9c/demo/js/app.js"></script>
	
	
<!--Cookiebar JS
<script src="jquery.cookiebar/jquery.cookiebar.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$.cookieBar({
			});
		});
</script>
-->

<!--GALLERIA HOMEMADE VUE-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>


	
<body class="default">
	
<div id="header">
	<h1>
		<img id="logo" alt="Giacomo Stringa" src="Immagini/Logo/Risorsa.png">
	</h1>
</div>
	
<!--BARRA NAVIGAZIONE AMAZON-->
<div id="shopsearchbar">
	<form action="https://www.amazon.com/gp/search" method="get" enctype="multipart/form-data">
		<div id="shopnavsearchfieldouter">
			<input name="keywords" size="12" type="text" value="" id="shopnavsearchfield">
		</div>
		<div id="shopnavsubmitbuttonouter">
			<input type="submit" title="" id="shopnavsubmitbutton" class="" value="">
		</div>
	</form>           
</div>

<div id="container">
    <div class="wrapper">
        <div id="content">
            <div class="mg-space-init container vert">
                
				<div class="mg-rows row row-flex">
	                <div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="Pensieri Verticali - Book Design">
							<div class="mg-trigger img-responsive photo1"></div>
								<h2 class="mainTitle mg-trigger">Pensieri Verticali</h2>
						</a>
								<h3 class="mainSub">Book design</h3>
								<h4 class="mainYear">€ 2018</h4>
                    </div>
					
					 <div class="xxs-6Mod xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="Impulsi political party - Logo Design">
							<div class="mg-trigger img-responsive photo2"></div>
								<h2 class="mainTitle mg-trigger">Impulsi</h2>
						</a>
								<h3 class="mainSub">Logo design</h3>
								<h4 class="mainYear">€ 2018</h4>						 
                    </div>
					
					<div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="La Tipografia - Book Design">
							<div class="mg-trigger img-responsive photo3"></div>
								<h2 class="mainTitle mg-trigger">La tipografia</h2>
						</a>
								<h3 class="mainSub">Book design</h3>
								<h4 class="mainYear">€ 2017</h4>
                    </div>
					
					<div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="Indil Jewelry - Logo Design">
							<div class="mg-trigger img-responsive photo4"></div>
								<h2 class="mainTitle mg-trigger">Indil Jewelry</h2>
						</a>
								<h3 class="mainSub">Logo design</h3>
								<h4 class="mainYear">€ 2018</h4>
                    </div>
					
					<div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="Feiern - Book Design">
							<div class="mg-trigger img-responsive photo5"></div>
								<h2 class="mainTitle mg-trigger">Feiern</h2>
						</a>
								<h3 class="mainSub">Book design</h3>
								<h4 class="mainYear">€ 2016</h4>
                    </div>
					
					<div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="WOW Agency - Logo Design">
							<div class="mg-trigger img-responsive photo6"></div>
								<h2 class="mainTitle mg-trigger">WOW Agency</h2>
						</a>
								<h3 class="mainSub">Logo design</h3>
								<h4 class="mainYear">€ 2017</h4>
                    </div>
					
					<div class="xxs-6 xs-6 md-4">
						<a class="mg-trigger mainTitle" alt="Avant Radio - Brand identity and Content Creation">
							<div class="mg-trigger img-responsive photo7"></div>
								<h2 class="mainTitle mg-trigger">Avant Radio</h2>
						</a>
								<h3 class="mainSub">Brand identity</h3>
								<h4 class="mainYear">€ 2019</h4>
                    </div>  
                </div>
				
				
				
				

				
                <div class="mg-targets row">
					
					<!--Galleria 1-->
					
					<div class="">
                        <div class="container">
                            <div class="row row-flex">
                              	<div class="insidePhotoBoxContainer">
									
										<!--GALLERY HERE-->
										<div id="gallery1">
											<div class="mainImg">
												<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
													<button class="galButLeft" v-on:click="prec()"></button>
													<button class="galButRight" v-on:click="succ()"></button>
											</div>
											<div class="thumbnailsGal">
												<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione ">
													<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
												</a>
											</div>
										</div>
										<script> 
												var gallery = new Vue({
													el:"#gallery1",
													data:{
														img_attuale : 0,
														immagini:["immaginiProgetti/MF_1.jpg", "immaginiProgetti/MF_18.jpg", "immaginiProgetti/MF_19.jpg", "immaginiProgetti/MF_20.jpg", "immaginiProgetti/MF_22.jpg", "immaginiProgetti/MF_24.jpg"]
													},
													methods:{
														current: function(){
															return this.immagini[this.img_attuale];
														},
														show: function(indice){
															this.img_attuale = indice;
														},
														prec: function(){
															this.img_attuale--;
															if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
														},
														succ: function(){
															this.img_attuale++;
															if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
														}

													}

												});
										</script>
								</div>
								
								<div class="insideTextContainer">
									<div class="insideTextBox">
									<h2 class="proTitle">Pensieri Verticali<h2>
									<h3 class="proSub">Morton Feldman, Adelphi editions<br>
									Ba thesis project, mentor <a href="http://www.46xy.it" target="_blank" style="text-decoration: underline; color: #0F0F0F;">Mario Piazza</a></h3>
										<div class="descriptionWrapper">
										<p class="descriptionText">
											Visual re-edition of the book ‘Pensieri Verticali’, by the composer Morton Feldman. This book presents a vast collection of the composer’s essays and three notes by other authors, included in the form of attachments on the third cover. The project aims to reveal the intellectual and contemplative nature of Feldman’s music through a carefully composed typography.
										</p>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
					
					<!--Galleria 2-->
					
                    <div class="">
                        <div class="container">
                            <div class="row row-flex">
                                	<div class="insidePhotoBoxContainer">
											<div id="gallery2">
													<div class="mainImg">
														<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
															<button class="galButLeft" v-on:click="prec()"></button>
															<button class="galButRight" v-on:click="succ()"></button>
													</div>
													<div class="thumbnailsGal">
														<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione">
															<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
														</a>
													</div>
												</div>
												<script> 
													var gallery1 = new Vue({
															el:"#gallery2",
															data:{
																img_attuale : 0,
																immagini:["immaginiProgetti/IMP_billboard.jpg","immaginiProgetti/IMP_mockupVert.jpg","immaginiProgetti/IMP_orizzontale.jpg"],
															},
															methods:{
																current: function(){
																	return this.immagini[this.img_attuale];
																},
																show: function(indice){
																	this.img_attuale = indice;
																},
																prec: function(){
																	this.img_attuale--;
																	if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
																},
																succ: function(){
																	this.img_attuale++;
																	if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
																},
															}
													});
													
												</script>
									</div>
									<div class="insideTextContainer">
										<div class="insideTextBox">
											<h2 class="proTitle">Impulsi</h2>
											<h3 class="proSub">Logo design for a political party</h3>
											<div class="descriptionWrapper">
												<p class="descriptionText">
													The party logo project began as a means to produce a robust and recognizable brand, that filled the lack of symbols in the politics of Italy today.
												</p>
												<p class="descriptionText">
													A representation in design of the epicentre of an earthquake and the symbol for WiFi were my iconographic influences, they translate meaning into an elementary language that is easy for all to understand.
												</p>
											</div>
										</div>
									</div>
                            </div>
                        </div>
                    </div>
					
					
					<!--Galleria 3-->
					
					
                    <div class="">
                        <div class="container">
                            <div class="row row-flex">
								<div class="insidePhotoBoxContainer">
											<div id="gallery3">
												<div class="mainImg">
													<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
														<button class="galButLeft" v-on:click="prec()"></button>
														<button class="galButRight" v-on:click="succ()"></button>
												</div>
												<div class="thumbnailsGal">
													<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione">
														<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
													</a>
												</div>
											</div>


										<script> 
												var gallery2 = new Vue({
													el:"#gallery3",
													data:{
														img_attuale : 0,
														immagini:["immaginiProgetti/190302_Giacomo-Stringa-Web_LOOK-1-VILENA_76.jpg","immaginiProgetti/190302_Giacomo-Stringa-Web_STILL-2_059.jpg", "immaginiProgetti/LaTipografia_3.jpg", "immaginiProgetti/LaTipografia_4.jpg", "immaginiProgetti/LaTipografia_5.jpg",
														"immaginiProgetti/LaTipografia_7.jpg", "immaginiProgetti/190302_Giacomo-Stringa-Web_STILL-2_060.jpg"]
													},
													methods:{
														current: function(){
															return this.immagini[this.img_attuale];
														},
														show: function(indice){
															this.img_attuale = indice;
														},
														prec: function(){
															this.img_attuale--;
															if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
														},
														succ: function(){
															this.img_attuale++;
															if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
														}

													}

												});
										</script>
									</div>

									<div class="insideTextContainer">
										<div class="insideTextBox">
											<h2 class="proTitle">On Typography</h2>
											<h3 class="proSub">and the spread of modern thought (very briefly)</h3>
											<div class="descriptionWrapper">
												<p class="descriptionText">
													Language has its origins in oral communication and it only finds written form later in history.
													Occidental thinking is based on the practice of writing, as Walter J. Ong states in his essay Orality and Literacy, and typography has always been the discipline through which writing finds its optimal form and clarity. Therefore the noble technology of typography has had a fundamental importance in giving birth to Modernity, intended as the product of occidental thinking.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
					<!--Galleria 4-->
					
					
                    <div class="">
                        <div class="container">
                            <div class="row row-flex">
								<div class="insidePhotoBoxContainer">
									<div id="gallery4">
										<div class="mainImg">
											<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
												<button class="galButLeft" v-on:click="prec()"></button>
												<button class="galButRight" v-on:click="succ()"></button>
										</div>
										<div class="thumbnailsGal">
											<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione">
												<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
											</a>
										</div>
									</div>


									<script> 
											var gallery3 = new Vue({
												el:"#gallery4",
												data:{
													img_attuale : 0,
													immagini:["immaginiProgetti/Indil_Alessio_1.jpg", "immaginiProgetti/Indil_costruzione.jpg", "immaginiProgetti/Indil_businessCard.jpg", "immaginiProgetti/Indil_Alessio_2.jpg", "immaginiProgetti/Indil_Alessio_3.jpg", "immaginiProgetti/Indil_Alessio_4.jpg"]
												},
												methods:{
													current: function(){
														return this.immagini[this.img_attuale];
													},
													show: function(indice){
														this.img_attuale = indice;
													},
													prec: function(){
														this.img_attuale--;
														if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
													},
													succ: function(){
														this.img_attuale++;
														if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
													}

												}

											});
									</script>
								</div>

								<div class="insideTextContainer">
									<div class="insideTextBox">
										<h2 class="proTitle">Indil jewelry</h2>
										<h3 class="proSub">Handmade with the technique of <i>soutache</i></h3>
										<div class="descriptionWrapper">
											<p class="descriptionText">
												Brand identity project for a jewelry artisan who specialises
												in the technique of soutache.
												The request of the client was to communicate the sinuosity that distinguish her jewelry through a new logotype,
												which has been later declined on various communicative products such as business cards or packagings. 
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
							
					<!--Galleria 5-->
					
					
                    <div class="">
                        <div class="container">
                            <div class="row row-flex">
								<div class="insidePhotoBoxContainer">
									<div id="gallery5">
										<div class="mainImg">
											<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
												<button class="galButLeft" v-on:click="prec()"></button>
												<button class="galButRight" v-on:click="succ()"></button>
										</div>
										<div class="thumbnailsGal">
											<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione">
												<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
											</a>
										</div>
									</div>


									<script> 
											var gallery4 = new Vue({
												el:"#gallery5",
												data:{
													img_attuale : 0,
													immagini:["immaginiProgetti/190302_Giacomo-Stringa-Web_LOOK-3-SIMONE_106.jpg", "immaginiProgetti/Feiern_1.jpg", "immaginiProgetti/Feiern_2.jpg", "immaginiProgetti/Feiern_3.jpg", "immaginiProgetti/Feiern_4.jpg", "immaginiProgetti/Feiern_5.jpg", "immaginiProgetti/Feiern_6.jpg", "immaginiProgetti/Feiern_fronteRetro.jpg"]
												},
												methods:{
													current: function(){
														return this.immagini[this.img_attuale];
													},
													show: function(indice){
														this.img_attuale = indice;
													},
													prec: function(){
														this.img_attuale--;
														if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
													},
													succ: function(){
														this.img_attuale++;
														if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
													}

												}

											});
									</script>
								</div>

								<div class="insideTextContainer">
									<div class="insideTextBox">
										<h2 class="proTitle">Feiern</h2>
										<h3 class="proSub">Visual trailer of the documentary by Maja Classen</h3>
										<div class="descriptionWrapper">
											<p class="descriptionText">
												Feiern is a documentary about Berlin’s trasgressive club culture, released in 2005.
												The printed content of the pages develops as a tale about the nights spent here: from the dark entrance of the club, to the sunrise the next morning that breaks in the dancefloor. The small size of the 16 pages pamphlet reflects the size of the flyers that were disseminated throught the city to advertise such parties. 
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
							
					<!--Galleria 6-->
					
                    <div class="">
                        <div class="container">
                            <div class="row row-flex">
								<div class="insidePhotoBoxContainer">
									<div id="gallery6">
										<div class="mainImg">
											<img v-bind:src="current()" style="width: 100%; height: auto;" alt="Project Image">
												<button class="galButLeft" v-on:click="prec()"></button>
												<button class="galButRight" v-on:click="succ()"></button>
										</div>
										<div class="thumbnailsGal">
											<a v-on:click="show(posizione)" v-for="(immagine,posizione) in immagini" :key="posizione">
												<img class="thumbnailsImg" v-bind:src="immagine" alt="Project Thumbnail">
											</a>
										</div>
									</div>


									<script> 
											var gallery5 = new Vue({
												el:"#gallery6",
												data:{
													img_attuale : 0,
													immagini:["immaginiProgetti/WOW_costruzioneLogotipo.jpg", "immaginiProgetti/WOW_Flag.jpg"]
												},
												methods:{
													current: function(){
														return this.immagini[this.img_attuale];
													},
													show: function(indice){
														this.img_attuale = indice;
													},
													prec: function(){
														this.img_attuale--;
														if(this.img_attuale < 0) this.img_attuale = this.immagini.length - 1;
													},
													succ: function(){
														this.img_attuale++;
														if(this.img_attuale >= this.immagini.length) this.img_attuale = 0;
													}

												}

											});
									</script>
								</div>

								<div class="insideTextContainer">
									<div class="insideTextBox">
										<h2 class="proTitle">WOW</h2>
										<h3 class="proSub">Logo design for a new Milanese communication agency</h3>
										<div class="descriptionWrapper">
											<p class="descriptionText">
												Its debatable name was concieved by the founders to be visually translated into the acronym: WOW.
												This was the main point of the client’s brief, and the whole work aims to highlight such sense of surprise.
												The client asked for a discreet design, therefore the project tends to enlight the classical idea of logo, using only typographic elements that immediately recall the agency’s full name.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
                </div>
					
            </div>
        </div>
    </div>
</div>
				
<div class="contact">
	<p>Need Help?</p><br>
	<a href="mailto:giacomo.stringa@outlook.com"><h2>Contact Me!</h2></a>
</div>
	
<!-- DELETE FOOTER AND MAKE AN HELP BOX INSTEAD!!!!!!!!!!!!!!!!!!! -->
<div id="footer">
	<a href="" onClick="copyEmail()" class="arial n5 center white normal">giacomo.stringa@outlook.com</a>
	<input  id="myemail" style="display: none" type="text" value="giacomo.stringa@outlook.com">
	<script>
					function copyEmail() {
					  var copyText = document.getElementById("myemail");
					  copyText.select();
						copyText.setSelectionRange(0,99999)
					  document.execCommand("copy");
					  alert("The e-mail address " + copyText.value + " has been copied to clipboard");
					}
	</script>
</div>
	
</body>
</html>